---
import "./src/styles/single-view-style.css"
export async function getStaticPaths() {
  const data = await fetch("https://lyshgsmyhkhvnenhvefb.supabase.co/rest/v1/CPHLF?order=nr.asc",
    {
        method : "GET", 
        headers: {
            apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx5c2hnc215aGtodm5lbmh2ZWZiIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTY0OTMzNjIsImV4cCI6MjAxMjA2OTM2Mn0.Aczj1UCZ1xo2WbBs9kEOyXmLPlKFdAw3Q11-9a99WSg" 
        },
    }).then(response => response.json());

  return data.map((post) => {
    return {
      params: { appendix: post.appendix },
      props: { post },
    };
  });
}

const {post} = Astro.props;
console.log(post)
---

<html lang="da">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{post.navn}</title>
	</head>
	<body>
		<main>
                <section class="overlord-container">
                  <h1>{post.navn}</h1>
                  <p>By {post.artist}</p>
                  <div class="connect">
                    <ul class="connect-ul">
                      <li>Facebook</li>
                      <li>Twitter</li>
                      <li>Website</li>
                    </ul>
                  </div>
                  
                  <div class="content-container">
                    <div class="left">
                      <div class="image-container">
                        <img class="image" src={post.image} alt="">
                      </div>
                      <div class="info">
                        <p><bold>Where</bold></p>
                        <p>{post.sted}</p>
                      </div>
                    </div>
                    <div class="right">
                      <p class="heading">About</p>
                      <p class="brødtekst">
                        {post.description}
                      </p>
                    </div>
                  </div>
                </section>

        </main>
	</body>