---
const {data} = Astro.props;
console.log(data);
---

<article class="installations-article">
    <div class="installations-billede-container">
        <img class="installations-billede"src={data.image} alt={data.navn}>
    </div>

    <div class="installations-kortinfo">
        <h2 class="installations-navn">{data.navn}</h2>
        <p class="installations-artist"><span class="bold">Af: </span> {data.artist}</p>
        <p class="installations-lokation"><span class="bold">Hvor: </span> {data.sted}</p>
    </div>

    <div class="installations-nr-container">
        <p class="installations-nr">{data.nr}</p>
    </div>

</article>

<hr>